<div class="starwars">
    <img src="assets/logo.png" />
</div>

<hr>

<div class="route">
  
    <router-outlet></router-outlet>
    
</div>


<hr class="hr2">

<footer  class="footer">
  <div class="img">
    <img src="assets/footer_logo.png" />
  </div>

  <div class="info">
    <p>TERMS OF USE</p>
    <p>LEGAL NOTICES</p>
    <p>PRIVACY POLICY</p>
    <p>HELPDESK</p>
    <p>STAR WARS AT DISNEY STORE</p>
  </div>

  <div class="copyright">
    <p> TM & &copy; Lucasfilm Ltd. All Rights Reserved</p>
  </div>
</footer>
