/* Header */
.weather-container{
    height:688px;
    width: 1200px;
    background-image: url('src/assets/background.png');
}
.weather-header{
    display: flex;
    position: relative;
    top: 45px;
}
.weather-logo{
    margin-left: 121px;
    height: 30px;
    width: 142px;
}
.fa-search{
    font-size: 18px;
    margin-top: 8px;
    margin-left: 800px;  
    color: #fffefe; 
}

input[type=text]{
    position: absolute;
    padding-left: 1%;
    margin-top: -6px;
    margin-left: 370px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fcf9f9;
    box-sizing: border-box;
    height: 45px;
    width: 458px;
    border: 0px solid #FFFFFF;
    border-radius: 3px;
    background-color: rgba(218, 218, 218, 0.2);
    
}
::placeholder{
    color: white;
}
input[type=text]:focus{
    outline: none;
}

/* NavBar */
.navbar{
    display: flex;
    margin-top: 100px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.tag1{
    margin-left: 140px; 
}

.tag2, .tag3{
    margin-left: 43px; 
}
.tag1:focus, .tag2:focus, .tag3:focus{
    border-bottom: #FFD639 0.205em solid;
    
}

.div-date{
    margin-left: 450px;
    margin-top: -1.3%;
}
.line{
    box-sizing: border-box;
    height: 1px;
    width: 970px;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    margin-left: 121px;
    margin-top: -2px;
}

/*Responsive*/
@media only screen and (max-width: 500px){
    .weather-container{
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .weather-logo{
        margin-top: 280px;
        margin-left: 99px;
        width: 170px;
    }
    .weather-search, .navbar, .div-date, .line{
        display: none;
    }
}
