<div class="navbar">
    <div class="group" routerLink="/films" [routerLinkActive]="active">FILMS</div>
    <div class="group" routerLink="/species" [routerLinkActive]="active">SPECIES</div>
    <div class="group" routerLink="/planets" [routerLinkActive]="active">PLANETS</div>
    <div class="group" routerLink="/characters" [routerLinkActive]="active">CHARACTERS</div>
    <div class="group" routerLink="/vehicles" [routerLinkActive]="active">VEHICLES</div>
    <div class="group" routerLink="/starships" [routerLinkActive]="active">STARSHIPS</div>
</div>
