<div class = "container">
    <nav class="navBar">
        <img class="robo" src="assets/download.png" />  
        <div class="pro"> 
            <img class="cap" src="assets/images.jpeg" />
            <p class="profile">Steve</p>    
            </div>       
    </nav>

    <div class="questionnaire">
        <div class="top">
            <p class="p-top">Your </p>
            <p style="margin-top:-17%;" class="p-top">Questionnaires</p>
            <button class="btn">New Questionnaire</button>
        </div>

        <div class="buttons">
            <button class="Btn">Secure coding Guidelines</button>
            <button class="Btn">ISMS Questionnaire</button>
            <button class="Btn">PA Questionnaire</button>
            <button class="Btn">Process Questionnaire</button>
        </div>

    </div>

    <div class="main">
       
    </div>
    <div class="actions">
        <div class="button">
            <button class="BTN">Save</button>
            <button class="BTN">Preview</button>
            <button class="BTN">Publish</button>
            <button class="BTN">Remind</button>
            <button class="BTN">Generate Report</button>
        </div>    

    </div>
    <div class="action">
            
    </div>
    <div class="form">
    <div class="form1">
        <p style="font-size: 22px">Questionnaire</p>

        <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Title</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
            <mat-hint>Please enter appropriate title</mat-hint>
          </mat-form-field>
        </div>

        <div class="formfield">
            <mat-form-field class="formfield1" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
        </div>

        <div class="formfield1">
            <mat-form-field class="formfield2" appearance="outline">
                <mat-label>Button Title</mat-label>
                <input matInput placeholder="">
              </mat-form-field>

              <mat-form-field style="margin-left:4%;" class="formfield2" appearance="outline">
                <mat-label>Button Text</mat-label>
                <input matInput placeholder="">
              </mat-form-field>
        </div>

        <div class="formfield">
            <mat-form-field class="check" appearance="outline">
                <mat-label>Check box text</mat-label>
                <input matInput placeholder="">
                
              </mat-form-field>
        </div>
     
    </div>
    </div>

    <div class="form2" >
        <p style="font-size: 22px; padding-top: 37px;">Additional Details</p>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Select start date</mat-label>
            <input matInput [matDatepicker]="datepicker">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field> -->
    </div>
</div>
