<div class="callout" data-closable="slide-out-right">
    <a href='/home' class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </a>
  </div>

  <h2>Add/Remove Super Admins</h2>

<div class="container">

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Employee code</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield1" appearance="outline">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="icon">
        <button class="bi" mat-fab>
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>

<div class="line"></div>

<div class="tot-container">
  <div class="container1">

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Employee code</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield1" appearance="outline">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="icon">
        <button class="bi" mat-fab>
            <mat-icon>create</mat-icon>
        </button>
    </div>


    <div class="del-icon">
        <button class="bi" mat-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </div>

  </div>

  <div class="container1">

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Name</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield" appearance="outline">
            <mat-label>Enter Employee code</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="formfield">
        <mat-form-field class="formfield1" appearance="outline">
            <mat-label>Enter Mail ID</mat-label>
            <input matInput placeholder="Secure coding Guidelines">
          </mat-form-field>
    </div>

    <div class="icon">
        <button class="bi" mat-fab>
            <mat-icon>create</mat-icon>
        </button>
    </div>


    <div class="del-icon">
        <button class="bi" mat-fab>
            <mat-icon>delete</mat-icon>
        </button>
    </div>

  </div>
</div>

<div class="button">
    <div class="form-container">
       <button  class="btn" type = "submit">Update</button>
    </div>

    <div class="form-container">
        <button  class="btn" type = "submit">Cancel</button>
     </div>
</div>

