<div style = "text-align:center">
<h1 appHostlistenerDirective>
    Routing 
    </h1>
</div>

<nav id = navBar>
  <button class = button routerLink = '/team' routerLinkActive = 'active'>Team - Lists</button>
  <button class = button routerLink = '/details' routerLinkActive = 'active'>Team - Details</button>
  <button class = button routerLink = '/hostlistener' routerLinkActive = 'active'>HostListener</button>
  <button class = button routerLink = '/form' routerLinkActive = 'active'>Form(tdf)</button>
</nav>

<router-outlet></router-outlet>
