<div class="whole-Container">
    <nav id="navBar">
     <img src="assets/download.png">
    </nav>
  
  <div class="container">

    <div class="callout" data-closable="slide-out-right">
        <button routerLink = '/home' routerLinkActive = 'active' class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <h3>Change Password</h3>
      <div class="form-container">
        <mat-form-field class="formfield1" appearance="outline">
            <mat-label>Enter New Password</mat-label>
            <input matInput placeholder="">
            </mat-form-field>
    </div>
  
      <div class="form-container">
        <mat-form-field class="formfield1" appearance="outline">
            <mat-label>Re-enter New Password</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </div>
     <div class="form-container">
      <button routerLink = '/home' routerLinkActive = 'active' class="btn" type = "submit">Update</button><br />
      </div>
      
  </div>
</div>