
<div class="container">

    <div class="content" >
        <img src="assets/films_normal.png" onmouseover="this.src='assets/films_pressed.png'" onmouseout="this.src='assets/films_normal.png'" routerLink = '/films'/>
        <p>FILMS</p>
    </div>
  
    <div class="content">
        <img src="assets/species_normal.png" onmouseover="this.src='assets/species_pressed.png'" onmouseout="this.src='assets/species_normal.png'" routerLink = '/species'/>
        <p>SPECIES</p>
    </div>

    <div class="content">
        <img src="assets/planets_normal.png" onmouseover="this.src='assets/planets_pressed.png'" onmouseout="this.src='assets/planets_normal.png'" routerLink = '/planets'/>
        <p>PLANETS</p>
    </div>

    <div class="content">
        <img src="assets/characters_normal.png" onmouseover="this.src='assets/characters_pressed.png'" onmouseout="this.src='assets/characters_normal.png'" routerLink = '/characters' />
        <p>PEOPLE</p>
    </div>

    <div class="content">
        <img src="assets/vehicles_normal.png" onmouseover="this.src='assets/vehicles_pressed.png'" onmouseout="this.src='assets/vehicles_normal.png'" routerLink = '/starships'/>
        <p>STARSHIP</p>
    </div>

    <div class="content">
        <img src="assets/droids_normal.png" onmouseover="this.src='assets/droids_pressed.png'" onmouseout="this.src='assets/droids_normal.png'" routerLink = '/vehicles' />
        <p>VEHICLE</p>
    </div>
</div>
