<app-navbar></app-navbar>

<div class="container">
    <div class="container-content">

        <div class="title">
            <p class="p1">Hello!</p>
            <p class="p2">{{name?.fullName | titlecase}}</p>
        </div>

        <div class="collections">
           <div class="order" *ngFor="let head of headCourse">
                <img src="{{head.courseImage}}" alt="">
                <p class="p0"> {{head.category | titlecase}}
                </p>
            </div>
        </div>

         <div class="prev-next">
                <div class="prev" [ngClass]="{'hide' : isValue == 1}"  (click)="prevPage()" >
                    <i class='fas fa-chevron-left'></i>
                </div>
                <div class="next" [ngClass]="{'hide' : isValue == 3}"   (click)="nextPage()" >
                    <i class='fas fa-chevron-right' ></i>
                </div>
            </div>

        <div class="dotted">
            <div class="dot1" [ngClass]="{'indication' : isValue == 1}"></div>
            <div class="dot1" [ngClass]="{'indication' : isValue == 2}"></div>
            <div class="dot1" [ngClass]="{'indication' : isValue == 3}"></div>
        </div>


        <div class="onGoing">
            <div class="head">
                <p class="p3">Ongoing courses</p>
                <p class="p4 pointer" routerLink="/ongoing">See All</p>
            </div>

            <div class="ongoing-courses">

                <div class="order" *ngFor="let data of ongoing">
                    <img src="{{data.url}}" alt="">
                    <div class="bottom">
                        <div class="bottom-text">
                            <p>{{data.title | titlecase}}</p>
                            <p class="p">{{data.chaptersCompleted}}/{{data.totalChapters}} Chapters</p>
                        </div>
                        <div class="button">
                            <button class="pointer" (click)="getOverview(data.courseId, data.title)">Continue</button>
                        </div>

                    </div>
                </div>
            </div>
            .
        </div>



        <div class="category">
            <div class="head">
                <p class="p3">Categories</p>
                <!-- <p class="p4 pointer">See All</p> -->
            </div>


            <div class="chips">
                <!-- <mat-chip-list  aria-label="category selection" > -->
                    <mat-chip *ngFor="let category of categories; let i = index" (click)="seeAllCategories(category, 'seeAll')">
                        <img matChipAvatar [src]="image[i]" alt="" />
                        {{category}}
                    </mat-chip>
                <!-- </mat-chip-list> -->
            </div>
        </div>


        <div class="choices">
            <div class="head">
                <p class="p3">Choice your course </p>
                <p id="allCourse" class="p4 pointer" (click)="hitSeeAll('seeAll')">See All</p>
            </div>

            <div class="navigate">

                <button id="btn1" class="pointer" [ngClass]="{ 'active' : isValue == 1 }" (click)="allClick()"
                    value="All">All</button>

                <button id="btn2" class="pointer" [ngClass]="{ 'active' : isValue == 2 }" (click)="popularClick()"
                    value="Popular">Popular</button>

                <button id="btn3" class="pointer" [ngClass]="{ 'active' : isValue == 3 }" (click)="newestClick()"
                    value="Newest">Newest</button>

            </div>

            <div class="course-choices top" *ngIf="all">
                <mat-card class="card" *ngFor="let all of allCourses">
                    <img mat-card-image src="{{all.courseImage}}" alt=""
                        (click)="getOverview(all._id, all.courseTitle)">
                    <div class="name">
                        {{all.category}}
                    </div>

                    <mat-card-content>
                        <p class="p6">
                            {{all.courseTitle | titlecase}}
                        </p>
                        <p class="p7">{{all.courseContent.totalChapters}} Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- popular -->
            <div class="course-choices top" *ngIf="popular">

                <mat-card class="card" *ngFor="let popular of allCourses">
                    <img mat-card-image src="{{popular.courseImage}}"
                        (click)="getOverview(popular._id, popular.courseTitle)" alt="">
                    <div class="name">
                        {{popular.category}}
                    </div>
                    <mat-card-content>
                        <p class="p6">
                            {{popular.courseTitle | titlecase}}
                        </p>
                        <p class="p7">{{popular.courseContent.totalChapters}} Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- newest -->
            <div class="course-choices top" *ngIf="newest">

                <mat-card class="card" *ngFor="let new of allCourses">
                    <img mat-card-image src="{{new.courseImage}}" alt=""
                        (click)="getOverview(new._id, new.courseTitle)">
                    <div class="name">
                        {{new.category}}
                    </div>
                    <mat-card-content>
                        <p class="p6">
                            {{new.courseTitle}}
                        </p>
                        <p class="p7">{{new.courseContent.totalChapters}} Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

        <div class="business-course">
            <div class="head">
                <p class="p3">Top courses in Business </p>
                <p class="p4 pointer" (click)="seeAllBusiness('Business','seeAll')">See All</p>
            </div>

            <div class="course-choices">
                <div class="Card" *ngFor="let business of businessCourse; let i = index">
                    <!-- <img *ngIf=pic mat-card-image src="{{business.coursePhoto}}"
                        alt=""> -->

                    <div class="c-video">
                        <video id="{{business._id}}" class="video" poster="{{business.courseImage}}">
                            <source src="{{business?.videoLink}}" type="video/mp4">
                        </video>
                        <div class="Btn">
                            <button id="play-pause" (click)="PlayPause(business._id)"></button>
                        </div>
                    </div>

                    <div class="course">
                        <p class="p6">
                            {{business.courseTitle | titlecase}}
                        </p>
                        <div class="para">
                            <p class="p7">{{business.courseContent.totalChapters}} Chapters</p>

                            <div class="duration">
                                <i class="fa fa-clock-o"></i>
                                <p class="p8"> {{business.courseContent.totalDuration}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="design-course">
            <div class="head">
                <p class="p3">Top courses in Design </p>
                <p class="p4 pointer" (click)="seAllDesign('Design', 'seeAll')">See All</p>
            </div>

            <div class="course-choices">
                <div class="cards" *ngFor="let design of designCourse; let i = index">
                    <!-- <img *ngIf=pic mat-card-image src="{{business.coursePhoto}}"
                        alt=""> -->

                    <div class="C-video">
                        <video id="{{design?._id}}" class="Video" poster="{{design.courseImage}}">
                            <source src="{{design?.videoLink}}" type="video/mp4">
                        </video>
                        <div class="Btn">
                            <button id="pause-play" (click)="togglePlayPause(design._id)"></button>
                        </div>
                    </div>

                    <div class="courses">
                        <p class="p6">
                            {{design.courseTitle}}
                        </p>
                        <div class="para">
                            <p class="p7">{{design.courseContent.chapterCount}} Chapters</p>

                            <div class="duration">
                                <i class="fa fa-clock-o"></i>
                                <p class="p8"> {{design.courseContent.totalDuration}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</div>