<app-navbar></app-navbar>

<div class="container">
    <div class="container-content">

        <div class="title">
            <p class="p1">Hello!</p>
            <p class="p2">{{name?.fullName | titlecase}}</p>
        </div>

        <div class="collections">

            <div class="order" *ngFor="let head of headCourse">
                <img src="{{head.courseImage}}" alt="">
                <p class="p0"> {{head.category | titlecase}}
                </p>
            </div>

        </div>



        <div class="onGoing">
            <div class="head">
                <p class="p3">Ongoing courses</p>
                <p class="p4 pointer">See All</p>
            </div>

            <div class="ongoing-courses">

                <div class="order" *ngFor="let data of ongoing"  >
                    <img src="{{data.url}}" alt="">
                    <div class="bottom">
                        <div class="bottom-text">
                            <p>{{data.title | titlecase}}</p>
                            <p class="p">{{data.chaptersCompleted}}/{{data.totalChapters}} Chapters</p>
                        </div>
                        <div class="button">
                            <button class="pointer" (click)="getOverview(data.courseId)">Continue</button>
                        </div>

                    </div>
                </div>
            </div>
            .
        </div>



        <div class="category">
            <div class="head">
                <p class="p3">Categories</p>
                <p class="p4 pointer">See All</p>
            </div>


            <div class="chips">
                <mat-chip-list aria-label="category selection" *ngFor="let category of categories">
                    <mat-chip>
                        <img matChipAvatar src="" alt="" />
                        {{category}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>


        <div class="choices">
            <div class="head">
                <p class="p3">Choice your course </p>
                <p class="p4 pointer">See All</p>
            </div>

            <div class="navigate">

                <button class="pointer" [ngClass]="{ 'active' : isValue == 1 }" type="button"
                    (click)="allClick()">All</button>
                <button class="pointer" [ngClass]="{ 'active' : isValue == 2 }" type="button"
                    (click)="popularClick()">Popular</button>
                <button class="pointer" [ngClass]="{ 'active' : isValue == 3 }" type="button"
                    (click)="newestClick()">Newest</button>

            </div>

            <div class="course-choices top" *ngIf="all">
                <mat-card class="card" *ngFor="let all of allCourses">
                    <img mat-card-image src="{{all.coursePhoto}}" alt="">
                    <div class="name">
                        {{all.categoryName}}
                    </div>

                    <mat-card-content>
                        <p class="p6">
                            {{all.courseName | titlecase}}
                        </p>
                        <p class="p7">{{all.chapterCount}} Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- popular -->
            <div class="course-choices top" *ngIf="popular">

                <mat-card class="card">
                    <img mat-card-image src="https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067__340.png"
                        alt="">
                    <mat-card-content>
                        <p class="p6">
                            Learn Figma - UI/UX Design Essential Training
                        </p>
                        <p class="p7">7 Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <!-- newest -->
            <div class="course-choices top" *ngIf="newest">

                <mat-card class="card" *ngFor="let new of newCourse">
                    <img mat-card-image src="{{new.coursePhoto}}" alt="">
                    <div class="name">
                        {{new.categoryName}}
                    </div>
                    <mat-card-content>
                        <p class="p6">
                            {{new.courseName}}
                        </p>
                        <p class="p7">{{new.chapterCount}} Chapters</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

        <div class="business-course">
            <div class="head">
                <p class="p3">Top courses in Business </p>
                <p class="p4 pointer">See All</p>
            </div>

            <div class="course-choices">
                <div class="Card" *ngFor="let business of businessCourse">
                    <!-- <img *ngIf=pic mat-card-image src="{{business.coursePhoto}}"
                        alt=""> -->

                    <div class="c-video">
                        <video id="{{business?.courseId}}" class="video" poster="{{business.coursePhoto}}" >
                            <source src="{{business.previewVideo}}" type="video/mp4">
                        </video>
                        <div class="Btn">
                            <button id="play-pause" (click)="PlayPause(business?.courseId)"></button>
                        </div>
                    </div>

                    <div class="course">
                        <p class="p6">
                            {{business.courseName | titlecase}}
                        </p>
                        <div class="para">
                            <p class="p7">{{business.chapterCount}} Chapters</p>

                            <div class="duration">
                                <i class="fa fa-clock-o"></i>
                                <p class="p8"> {{business.courseDuration}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="design-course">
                <div class="head">
                    <p class="p3">Top courses in Design </p>
                    <p class="p4 pointer">See All</p>
                </div>

                <div class="course-choices">
                    <div class="cards" *ngFor="let design of designCourse">
                        <!-- <img *ngIf=pic mat-card-image src="{{business.coursePhoto}}"
                        alt=""> -->

                        <div class="C-video">
                            <video id="{{design?.courseId}}" class="Video" poster="{{design.coursePhoto}}"  >
                                <source src="{{design.previewVideo}}" type="video/mp4">
                            </video>
                            <div class="Btn">
                            <button id="pause-play" (click)="togglePlayPause(design?.courseId)"></button>
                        </div>
                        </div>

                        <div class="courses">
                            <p class="p6">
                                {{design.courseName}}
                            </p>
                            <div class="para">
                                <p class="p7">{{design.chapterCount}} Chapters</p>

                                <div class="duration">
                                    <i class="fa fa-clock-o"></i>
                                    <p class="p8"> {{design.courseDuration}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>