<div class="weather-container">

    <div class="weather-header">
        <div class="weather-logo">
            <img src="assets/logo_web.png" />
        </div>

        <div class="weather-search">
            <input type="text" placeholder="Search City" ><i class="fa fa-search"></i>
            
        </div>
    </div>

    <div class="for-responsive">
        <i class="fa fa-arrow-left" routerLink="/home"></i>
        <h3>Recent Search</h3>
        <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </div>

    <div class="navbar">
        <a class="tag1" routerLink="/home" onmouseover="this.style.color = 'yellow'" onmouseout="this.style.color = 'white'">HOME</a>
        <a class="tag2" routerLink="/favourite" onmouseover="this.style.color = 'yellow'" onmouseout="this.style.color = 'white'">FAVOURITE</a>
        <a class="tag3" routerLink="/recentsearch" onmouseover="this.style.color = 'yellow'" onmouseout="this.style.color = 'white'">RECENT SEARCH</a>

        <div class="div-date">
            <p> {{today | date:'EEE, d MMM y &nbsp; h:mm:ss a'}}</p>
        </div>
    </div>

    <div class="line"></div>

    <!-- <div class="not-found" >
        <img src="assets/icon_nothing.png">
        <p>No Recent Search</p>
    </div> -->

    <div class="options">
        <p class="options-p">You recently searched for</p>
        <a class="options-a">Clear All</a>
    </div>

    <div class="grid-table">
        <div class="grid-table-1">
           <p> Udupi, Karnataka </p>
            <div class="icon">
                <img src="assets/icon_mostly_sunny.png">
                <h2>31</h2> <h3>&#176;C</h3>
                <p>Mostly Sunny</p>
            </div>
            <i class="fa fa-heart-o"></i>
        </div>

        <div class="grid-table-2"></div>
        <div class="grid-table-3"></div>
        <div class="grid-table-4"></div>
        <div class="grid-table-5"></div>
        <div class="grid-table-6"></div>
        <div class="grid-table-7"></div>
    </div>

</div>