<div class="sidebar">

    <div class="profile">

        <img
            src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png" />

        <div class="name">
            <p class="p1"> Deva K </p>
            <p class="p2"> Log out </p>
        </div>

        <div class="follow">
            <div class="following">
                <p class="p1">5.2M</p>
                <p class="p2">Following</p>
            </div>

            <div class="follower">
                <p class="p1">101</p>
                <p class="p2">Followers</p>
            </div>
        </div>

        <div class="main">
            MAIN
        </div>
        <div class="list">
            <a>Top 50</a>
            <a>Stream</a>
            <a>Likes</a>
            <a>Tracks</a>
            <a>Playlists</a>
        </div>
    </div>
</div>