/* Header */
.weather-container{
    height:688px;
    width: 1200px;
    background-image: url('src/assets/background.png');
    overflow-x: hidden;
}
.menu-container{
    display: none;
}
.weather-header{
    display: flex;
    position: relative;
    top: 45px;
}
/* .weather-header i{
    color: white;
} */
.weather-logo{
    margin-left: 121px;
    height: 30px;
    width: 142px;
}
.fa-search{
    font-size: 18px;
    margin-top: 8px;
    margin-left: 790px;  
    color: #f7f3f3; 
}
.menu-items, .checkbox{
    display: none;
}
.search-container{
    display: none;
}
.city{
    position: absolute;
    padding-left: 1%;
    margin-top: -6px;
    margin-left: 370px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fcf9f9;
    box-sizing: border-box;
    height: 45px;
    width: 458px;
    border: 0px solid #FFFFFF;
    border-radius: 3px;
    background-color: rgba(218, 218, 218, 0.2);
    
}
::placeholder{
    color: white;
}
input[type=text]:focus{
    outline: none;
}
.btn{
    opacity: 0;
    background-color: rgb(73, 37, 37);
    position: absolute;
    top: -15px;
    left: 1035px;
}
/* NavBar */
.navbar{
    display: flex;
    margin-top: 100px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
}
.tag1{
    
    margin-left: 140px; 
}


.tag2, .tag3{
    margin-left: 43px; 
}
.tag1:focus, .tag2:focus, .tag3:focus{
    border-bottom: #FFD639 0.205em solid;
    
}

.div-date{
    margin-left: 450px;
    margin-top: -1.3%;
}
.line-1{
    box-sizing: border-box;
    height: 1px;
    width: 970px;
    border: 1px solid #FFFFFF;
    opacity: 0.3;
    margin-left: 121px;
    margin-top: -2px;
}

/* body */
.container{
    position: absolute;
    top: 185px;
    left: 145px;
    font-family: Roboto;
}
.container-text{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}


#false {
    font-weight: 400;
    color: white;
}
#true {
    color: #fad05b;
}

.yellow {
    font-weight: 400;
    color: #fad05b;
    margin-left: 10px;
}
.white{
    font-weight: 400;
    color: white;
    margin-left: 10px;
}
#false label{
    margin-left: 10px;
}

.fa-heart-o {  
    color: white;
    margin-left: 2px;
    font-size: 18px;
    cursor: pointer;
}
.fa-heart{
    margin-left: 2px;
    font-size: 18px;
    cursor: pointer;
}
.icon{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 115px;
    margin-left: 530px;
    height: 150px;
    width: 150px;
}
.cel-fah{
    display: flex;
    position: relative;
    justify-content: center;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 44px;
    margin-top: -8%;
}
.cel-fah-1{
    display: flex;
    margin-top: 9%;
    margin-left: 12px;
}
.celsius{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    margin-bottom: 250%;
    border: 2px solid white;
    cursor: pointer;
}
.fahreheit{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    margin-bottom: 250%;
    border: 2px solid white;
    cursor: pointer;
}
.cel-btn{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    background-color: rgba(218, 218, 218, 0.2);
    border: none;
}
.cel-btn:hover, .fah-btn:hover{
    background-color: white;
    color: black
}
.fah-btn{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    background-color: rgba(218, 218, 218, 0.2);
    border: none;
}
.fah-btn:hover{
    background-color: white;
}
.climate{
    margin-top: 150px;
    /* margin-left: ; */
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    position: absolute;
    font-weight: 400;
}
/*footer*/
.line-2{
    position: relative;
    box-sizing: border-box;
    height: 1px;
    width: 970px;
    border: 1px solid white;
    opacity: 0.3;
    margin-left: 121px;
    margin-top: -60px ;
}

.footer{
    display: flex;
    position: absolute;
    top: 591px;
}
.min-max{
    margin-top: 4px;
    display: grid;
    position: relative;
    margin-left: 200px;
}
.h4-minmax{
    margin-left: 32px;
    margin-top: -36px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    
}
.degree-minmax{
    margin-left: 30px;
    margin-top: -15px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}
/**/
.precipitation{
    position: relative;
    margin-left: 50px;
}
.h4-pre{
    margin-left: 40px;
    margin-top:-35px;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    
}
.degree-pre{
    margin-left: 40px;
    margin-top: -16px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}

/**/
.humidity{
    position: relative;
    left: 50px;
}
.h4-humidity{
    margin-left: 35px;
    margin-top: -32px;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    
}
.degree-humidity{
    margin-left: 35px;
    margin-top: -16px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}
/**/
.wind{
    position: relative;
    left: 105px;
}
.h4-wind{
    margin-left: 44px;
    margin-top: -26px;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.degree-wind{
    margin-left: 42px;
    margin-top: -17px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}
/**/
.visibility{
    position: relative;
    left: 150px;
}
.h4-visibility{
    margin-left: 47px;
    margin-top: -24px;
    color: #FFFFFF;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.degree-visibility{
    margin-left: 47px;
    margin-top: -17px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;

}

  /*Responsive*/
  @media only screen and (max-width: 500px){

    .weather-container{
        width: 100%;
        overflow-x:hidden;
    }
    .weather-header{
        margin-top: -5px;
        position: fixed;
    }
    .weather-header i{
        display: block;
        font-size: 24px;
        margin-left: 20px;
        margin-top: -1px;
    }
    .weather-logo{
        position: absolute;
        left: -20px;
        top: 2px;
    }
    .weather-logo img{
        height: 26px;
        width: 116px;
        margin-left: -10px
    }
    .city{
        display: none;
    }
    .weather-search i{
        position: absolute;
        margin-left: 332px;
        font-size: 26px;
    }
    .div-date {
        height: 30px;
        width: 250px;
        position: absolute;
        display: flex;
        left: -350px; 
        opacity: 0.6;
    }
    .div-date p{
        display: flex;
        padding-left: 16px;
        margin-top: 35px;
    }
    .container{
        margin-left: -30px;
        margin-top: -15px;
    }
    .container-text{
        font-size: 22px;
        margin-top: -5px;
        position: fixed;
        margin-left: 10px;
    }
   #false{
    position: fixed;
    margin-top: 35px;
    margin-left: -10px;
   }
   .false label{
    position: fixed;
    margin-top: 35px;
    margin-left: 14px;
   }
   #true{
    position: fixed;
    margin-top: 35px;
    margin-left: -10px;
   }
   .yellow{
    position: fixed;
    margin-top: 35px;
    margin-left: 14px;
   }
    .icon{
        z-index: 1;
        position: relative;
        top: 60px;
        left: -410px;
    }
    .cel-fah {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        z-index: 1;
    }
    .h2-celfah{
        position: relative;
        left: 70px;
        margin-top: 170px;
        margin-left: -70px;
        
    }
    .cel-fah-1{
        margin-top: 50px;
        margin-left: 80px;
    }
    .celsius, .fahreheit{
        margin-top: 260px;
        padding: 3px;
        
    }
    .climate{
        position: absolute;
        margin-top: 60%;
        margin-left: 2px;
    }
    .navbar{
        width: 100px;
    }
    .navbar a{
        display: none;
    }
    
    .line-1, .line-2{
        display: none;
    }
    .footer{
        background-color: rgba(218, 218, 218, 0.2);
        height: 120px;
        position: absolute;
        width:405px;
        border: 1px solid white;
        overflow: scroll;
    }
    .min-max{
       position: absolute;
        height: 41px;
        width: 104px;
        margin-left: 20px;
        margin-top: 30px;
    }
    .h4-minmax{
        margin-left: 32px;
        margin-top: -36px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        
    }
    .degree-minmax{
        margin-left: 30px;
        margin-top: -15px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
    
    }
    .precipitation{
        height: 41px;
        width: 104px;
        margin-left: 145px;
        margin-top: 23px;
    }
    .h4-pre{
        margin-left: 38px;
        margin-top: -32%;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        
    }
    .degree-pre{
        margin-left: 38px;
        margin-top: -15px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
    
    }
    .humidity{
        height: 41px;
        width: 104px;
        margin-left:-3.5%;
        margin-top: 26px;
    }
    .h4-humidity{
        margin-left: 30px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
    .degree-humidity{
        margin-left: 30px;
        margin-top: -15px;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
    }
    .wind{
        position: relative;
        height: 41px;
        width: 104px;
        margin-left:-6%;
        margin-top: 26px;
    }
    .wind img{
        margin-left: -12px;
    }
    .h4-wind{
        font-size: 14px;
        margin-left: 26px;
    }
    .degree-wind{
        font-size: 18px;
        margin-left: 26px;
    }
    .visibility{
        height: 41px;
        width: 104px;
        margin-left:-1%;
        margin-top: 26px;
    }
    .visibility img{
        margin-left: -10px;
    }
    .h4-visibility{
        font-size: 14px;
        margin-left: 28px;
    }
    .degree-visibility{
        font-size: 18px;
        margin-left: 28px;
    }
    .search-container{
        display: block;
        position: absolute;
        top:0px;
        background-color: white;
        width: 404px;
        height: 700px;
        margin-top: -32px;
        z-index: 50;
        transform: translate(-200%); 
        transition: transform 0.5s ease;
    }
    .search-container input[type=text]{
        width: 400px;
        height: 60px;
        font-family: Roboto;
        font-size: 16px;
        color: #292424;
        box-sizing: border-box;
        border: 2px solid #e0dbdb;
        border-radius: 3px;
        padding-left:60px;
        background-color: rgb(255, 255, 255);
        margin-top: -12px;
    }
    ::placeholder{
        color: black;
    }
    .fa-arrow-left{
        position: absolute;
        top:28px;
    }
    #sr{
        color: black;
        position: relative;
        left: 316px;
        top: 30px;
    }
    #check{
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        left: 15px;
        z-index: 100;
        opacity: 0;
        cursor: pointer;
        margin-left: 315px;
        margin-top: -2px;
    }
     #check:checked ~ .search-container {
        transform: translateY(0);
      }
     

  /*sidebar*/

  .container {
    margin: auto;
  }
    
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    z-index: 2;
  
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  .menu-items {
    display: flex;
   
  }
  
   .nav-container li {
    list-style: none;
  }
  
  .menu-items a {
    display: block;
    text-decoration: none;
    margin: 5px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
    
  }
  .navBar{
    z-index: 20;
  }
  
   .checkbox {
    position: absolute;
    display: block;
    height: 35px;
    width: 35px;
    left: 15px;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
  }
  
   .hamburger-lines {
    display: block;
    height: 26px;
    width: 30px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -15px;
    
  }
  
   .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background:white;
  }
  
   .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
   .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
   .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
   .menu-items {
    background-color: white;
    height: 650px;
    width: 250px;
    transform: translate(-150%);
    display: flex;
    position: absolute;
    padding-top: 5px;
    flex-direction: column;
    margin-left: -30px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    z-index: 50;
  }
  
   .menu-items li {
    margin-bottom:10px;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
  }
    
   input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
   input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
   input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
   input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
 


  
} 