<div class="weather-container">

    <div class="weather-header">
        <div class="weather-logo">
            <img src="assets/logo_web.png" />
        </div>

        <div class="weather-search">
            <input type="text" placeholder="Search City"><i class="fa fa-search"></i>

        </div>
    </div>

    <div class="navbar">
        <a class="tag1" routerLink="/home" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">HOME</a>
        <a class="tag2" routerLink="/favourite" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">FAVOURITE</a>
        <a class="tag3" routerLink="/recentsearch" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">RECENT SEARCH</a>

        <div class="div-date">
            <p> {{today | date: 'EEE, d MMM y &nbsp; h:mm:ss a'}}</p>
        </div>
    </div>

    <div class="line-1"></div>

    <div class="container">

        <h2 class="container-text"> Udupi, Karnataka </h2>
        <div class="fav">
        <i class="fa fa-heart-o"></i>
        <p>Add to Favourite</p>
        </div>
    </div>

    <div class="icon">
        <img src="assets/icon_mostly_sunny.png">
    </div>

    <div class="cel-fah">
        <h2 class="h2-celfah" style="font-weight:420">{{WeatherData.temp_celcius}}</h2>
        <div class="cel-fah-1">
            <div class="celsius">&#176;C</div>
            <div class="fahreheit">&#176;F</div>
        </div>
        <h2 class="climate">Mostly Sunny</h2>
    </div>

    <div class="line-2"></div>

    <div class="footer">

        <div class="min-max">
            <img src="assets/icon_temperature_info.png">
            <h4 class="h4-minmax">Min-Max</h4>
            <p class="degree-minmax">{{WeatherData.temp_min}}&#176; - {{WeatherData.temp_max}}&#176;</p>
        </div>

        <div class="precipitation">
            <img src="assets/icon_precipitation_info.png">
            <h4 class="h4-pre">Precipitation</h4>
            <p class="degree-pre">0%</p>
        </div>

        <div class="humidity">
            <img src="assets/icon_humidity_info.png">
            <h4 class="h4-humidity">Humidity</h4>
            <p class="degree-humidity">{{WeatherData.main.humidity}}%</p>
        </div>

        <div class="wind">
            <img src="assets/icon_wind_info.png">
            <h4 class="h4-wind">Wind</h4>
            <p class="degree-wind">4 mph</p>
        </div>

        <div class="visibility">
            <img src="assets/icon_visibility_info.png">
            <h4 class="h4-visibility">Visibility</h4>
            <p class="degree-visibility">12 mph</p>
        </div>
    </div>

</div>