<div class="weather-container">

    <div class="weather-header">
        <div class="weather-logo">
            <img src="assets/logo_web.png" />
        </div>




        <div class="navBar">
            <div class="nav-container">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>

                <div class="menu-items">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/favourite">Favourite</a></li>
                    <li><a routerLink="/recentsearch">Recent Search</a></li>
                </div>
            </div>
        </div>


        <div class="searching">
            <input class="checkbox" type="checkbox" name="" id="check" />
            <div class="search-container">
                <i class="fa fa-search" id="sr"></i>
                <i class="fa fa-arrow-left" routerLink="/home"></i>
                <input type="text" placeholder="Search for City">

            </div>


        </div>

        <div class="weather-search">
            <form [formGroup]="search">
                <input formControlName="city" class="city" type="text" placeholder="Search City" #city>
            </form>

            <button class="btn" mat-fab (click)="onClick(city.value)"></button>
            <i class="fa fa-search" ></i>
        </div>
    </div>

    <div class="navbar">
        <a class="tag1" routerLink="/home" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">HOME</a>
        <a class="tag2" routerLink="/favourite" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">FAVOURITE</a>
        <a class="tag3" routerLink="/recentsearch" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">RECENT SEARCH</a>

        <div class="div-date">
            <div class="date">
                <p> {{today | date: 'EEE, d MMM y &nbsp; h:mm:ss a'}}</p>
            </div>
        </div>
    </div>

    <div class="line-1"></div>

    <div class="container">

        <h2 class="container-text"> {{details.name}}, {{details['sys'].country}} </h2>
        
        <div *ngIf="fav; then add; else added"></div>
        <ng-template #add>
            <div class="false" #City>
                <i class="fa fa-heart-o" id="false" (click)="toggle()" ></i>
                <label class="white">Add to favourite</label>
            </div>
        </ng-template>
        <ng-template #added>
            <i class="fa fa-heart" id="true" (click)="toggle1()"></i>
            <label class="yellow">Added to favourite</label>
        </ng-template>
    </div>

    <div class="icon">
        <img src="http://openweathermap.org/img/wn/{{details['weather'][0].icon}}.png">
    </div>

    <div class="cel-fah">
        <h2 *ngIf="celsius" class="h2-celfah" style="font-size:80px;font-weight:420">{{(details['main'].temp - 273.15).toFixed(0)}}</h2>
        <h2 *ngIf="farhan" class="h2-celfah" style="font-size:80px;font-weight:420">{{(details['main'].temp - 273.15)*1.8+32 | number}}</h2>
        <div class="cel-fah-1">
            <div class="celsius"> 
                <button class="cel-btn" (click)="degCel()">&#176;C</button>
            </div>
            <div class="fahreheit">
                <button class="fah-btn"  (click)="degFar()">&#176;F</button>
            </div>
        </div>
        <h2 class="climate"> {{details['weather'][0].description | titlecase}}</h2>

    </div>

    <div class="line-2"></div>

    <div class="footer">

        <div class="min-max">
            <img src="assets/icon_temperature_info.png">
            <h4 class="h4-minmax">Min-Max</h4>
            <p class="degree-minmax">
                {{(details['main'].temp_min - 273.15).toFixed(0)}}&#176;-
                {{(details['main'].temp_max - 273.15).toFixed(0)}}&#176;
            </p>
        </div>

        <div class="precipitation">
            <img src="assets/icon_precipitation_info.png">
            <h4 class="h4-pre">Pressure</h4>
            <p class="degree-pre">{{details['main'].pressure}} hpa</p>
        </div>

        <div class="humidity">
            <img src="assets/icon_humidity_info.png">
            <h4 class="h4-humidity">Humidity</h4>
            <p class="degree-humidity">{{details['main'].humidity}}%</p>
        </div>

        <div class="wind">
            <img src="assets/icon_wind_info.png">
            <h4 class="h4-wind">Wind</h4>
            <p class="degree-wind">{{details['wind'].speed}} mph</p>
        </div>

        <div class="visibility">
            <img src="assets/icon_visibility_info.png">
            <h4 class="h4-visibility">Visibility</h4>
            <p class="degree-visibility">{{details.visibility}} mph</p>
        </div>
    </div>

</div>