<div class="weather-container">

    <div class="weather-header">
        <div class="weather-logo">
            <img src="assets/logo_web.png" />
        </div>

        <div class="weather-search">
            <input type="text" placeholder="Search City"><i class="fa fa-search"></i>

        </div>
    </div>

    <div class="for-responsive">
        <i class="fa fa-arrow-left" routerLink="/home"></i>
        <h3>Favourite</h3>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </div>


    <div class="navbar">
        <a class="tag1" routerLink="/home" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">HOME</a>
        <a class="tag2" routerLink="/favourite" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">FAVOURITE</a>
        <a class="tag3" routerLink="/recentsearch" onmouseover="this.style.color = 'yellow'"
            onmouseout="this.style.color = 'white'">RECENT SEARCH</a>

        <div class="div-date">
            <p> {{today | date: 'EEE, d MMM y &nbsp; h:mm:ss a'}}</p>
        </div>
    </div>

    <div class="line"></div>



    <div *ngIf="fav ; then Avail; else notAvail"></div>
    <ng-template #Avail>
        <div class="options">
            <p class="options-p"> {{favourites.length}} City added as favourite</p>
            <a class="options-a" (click)="popup()">Remove All</a>
        </div>


        <div class="grid-table">
            <div class="grid-table-1" *ngFor="let details of favourites">
                <p>{{details.name}}, {{details['sys'].country}}</p>
                <div class="icon">
                    <img src="http://openweathermap.org/img/wn/{{details['weather'][0].icon}}.png">
                    <h2>{{(details['main'].temp - 273.15).toFixed(0)}}</h2>
                    <h3>&#176;C</h3>
                    <p> {{details['weather'][0].description | titlecase }}</p>
                </div>
                <i class="fa fa-heart-o"></i>
            </div>
        </div>
    </ng-template>

    <ng-template #notAvail>
        <div class="not-found" [class.found]="found">
            <img src="assets/icon_nothing.png">
            <p>No Favourites added</p>
        </div>
    </ng-template>


</div>