<div class="whole-Container">
    <nav id="navBar">
     <img src="assets/download.png">
    </nav>
  
  <div class="container">
      <h3>Login</h3>
      <div class="form-container">
      <input type="text" placeholder="Enter Username" />
      </div>
  
      <div class="form-container">
      <input type="password" placeholder="Enter Password" />
      </div>
     <div class="form-container">
      <button routerLink = '/home' routerLinkActive = 'active' class="btn" type = "submit">Login</button><br />
      </div>
      <div class="forms-container">
      <a href="#" routerLink = '/checkemail' routerLinkActive = 'active'>Forgot Password?</a>
      </div>
  </div>
  </div>