h3, a, #navBar, .btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  
  .whole-Container{
    height: 1138px;
    width: 1440px;
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  }
  #navBar{
    height: 100px;
    width: 1440px;
    background-color: white;
  }
  
  img{
    margin-top: 18px;
    margin-left: 130px;
    height: 54px;
    width: 280px;
  }
  
  .container{
    background-color: white;
    height: 385px;
    width: 535px;
    text-align:center;
    margin:auto;
    margin-top:277px;
    border-radius: 20px;
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.2);
  }
  
  .form-container{
    padding-top:2.7%;
    height: 75px;
    width: 328px;
    margin: auto;
  }
  
  input[type=text],[type=password]{
    letter-spacing: 0.15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    height: 56px;
    width: 328px;
    border-radius: 4px;
    border-color: rgba(0,0,0,0.38);
  }
  
  .btn{
    background-color: #e22154;
    border: none;
    border-radius:50px;
    height: 49px;
    width: 149px;
    color: white;
    box-shadow: 0 0 11px 0 rgba(238, 131, 131, 0.911);
  }
  .forms-container{
    margin-top:-2.5%;
    margin-left:1%;
  }
  a{
    color: black;
    opacity:0.8;
    text-decoration: none ;
  }
  h3{
    font-size: 28px;
    padding-top:4%;
  }