<app-navbar></app-navbar>

<div class="loading" *ngIf="loading">
    <mat-progress-spinner class="spinner"  [mode]="mode" [value]="value" [diameter]= "50" [strokeWidth]="20"></mat-progress-spinner>
</div>

<div class="list" *ngIf="unshow && unloading">
    
    <ul *ngFor="let starship of starships.results" >
        <li (click)="change(starships.results.indexOf(starship))" >
            {{starship.name | uppercase}}
        </li>
    </ul>

    <div class="buttons">
        <button  (click)="previous()" [class.disable]="prevdisable" [disabled]="prevdisable">PREVIOUS</button>
        <button  (click)="nextPage()" [class.disable]="nextdisable" [disabled]="nextdisable">NEXT</button>
    </div>  
</div>

<div class="container" *ngIf="show && unloading" >
<div class="image">
    <img src="https://source.unsplash.com/random?sig={{getRandomNumber()}}"/>
</div>

<div class="content">
   <h1 (click)="goBack()">{{details.name | uppercase}}</h1>

   <!-- <p><span>Model :</span>&nbsp;{{details.model}}</p>
   <p><span>Sublight Speed :</span>&nbsp;{{details.MGLT}} MGLT</p>
   <p><span>Cargo Capacity :</span>&nbsp;{{details.cargo_capacity}}</p>
   <p><span>Cost :</span>&nbsp;{{details.cost_in_credits}} Credits</p>
   <p><span>Crew :</span>&nbsp;{{details.crew}}</p>
   <p><span>Hyperdrive Rate :</span>&nbsp;{{details.hyperdrive_rate}}</p>
   <p><span>Length :</span>&nbsp;{{details.length}}</p>
   <p><span>Manufacturer :</span>&nbsp;{{details.manufacturer | titlecase}}</p>
   <p><span>Max-Speed :</span>&nbsp;{{details.max_atmosphering_speed}}</p>
   <p><span>Passengers :</span>&nbsp;{{details.passengers}}</p> -->

   <div class="group">
    <div style="opacity: 0.5;"> Model:</div>
    &nbsp;<div>{{details.model}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Sublight Speed :</div>
    &nbsp;<div>{{details.MGLT}} MGLT</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Cargo Capacity :</div>
    &nbsp;<div>{{details.cargo_capacity}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Cost :</div>
    &nbsp;<div>{{details.cost_in_credits}} Credits</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Crew :</div>
    &nbsp;<div>{{details.crew}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Hyperdrive Rate :</div>
    &nbsp;<div>{{details.hyperdrive_rating}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Length :</div>
    &nbsp;<div>{{details.length}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Manufacturer:</div>
    &nbsp;<div>{{details.manufacturer | titlecase}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Max-Speed:</div>
    &nbsp;<div>{{details.max_atmosphering_speed}}</div>
</div>

<div class="group">
    <div style="opacity: 0.5;"> Passengers:</div>
    &nbsp;<div>{{details.passengers}}</div>
</div>



</div>
</div>