<mat-toolbar>
    <div class="content">
        <div class="image">
            <img class="img1" src="assets/Vector.png" />
            <img class="img2" src="assets/dszfsd.png" />
            <img class="img3" src="assets/Vector (1).png" />
            <img class="img4" src="assets/l.png" />
            <img class="img5" src="assets/erer.png" />
        </div>

        <div class="search">
            <mat-icon><i class="fa fa-search pointer"></i></mat-icon>
            <input placeholder="Search" type="text" />
        </div>

        <div class="options">
            <mat-icon class="icon1 pointer">notifications_none</mat-icon>
            <i class="fa fa-gear pointer"></i>
            <img src="assets/InShot_20220322_141718579.jpg" />

        </div>
    </div>
</mat-toolbar>
