<mat-toolbar>
    <div class="content">
        <div class="image">
            <img class="img1" src="assets/Vector.png" />
            <img class="img2" src="assets/dszfsd.png" />
            <img class="img3" src="assets/Vector (1).png" />
            <img class="img4" src="assets/l.png" />
            <img class="img5" src="assets/erer.png" />
        </div>

        <div class="search">


            <mat-icon><i class="fa fa-search search-icon pointer" *ngIf="!dropdown"></i></mat-icon>
            <input id="ID" placeholder="Search" type="text" (click)="onClick()" name="search" />


            <div class="focus" *ngIf="dropdown">
                <mat-icon><i class="fa fa-search search-focused pointer"></i></mat-icon>
            </div>

        </div>

        <div class="options">
            <mat-icon class="icon1 pointer">notifications_none</mat-icon>
            <i class="fa fa-gear pointer"></i>
            <img src="assets/InShot_20220322_141718579.jpg" />

        </div>
    </div>
</mat-toolbar>

<div class="dropdown" *ngIf="dropdown">

    <div class="dropdown-content">
        <div class="search-content" *ngIf="topSearch">
            <p class="p1">Top Search</p>

            <div class="search-result">
                <div class="top-search pointer" *ngFor="let search of searches">
                    {{search | titlecase}}
                </div>
            </div>
        </div>

        <div class="suggestion-list" *ngIf= !topSearch>

            <div class="suggestion" *ngFor="let list of lists">
    
                <img src="{{list?.courseImage}}" >
    
                <div class="suggestion-content">
                    <p class="p11">{{list?.courseTitle}}</p>
                    <p class="p12">{{list?.courseContent?.totalChapters}} Chapter</p>
                    <div class="p13">{{list?.category}}</div>
                </div>
            </div>
        </div>

        <!-- <div class="noFound">
            <p class="P">No matching course</p>
            <p class="p">Try a different search or browse categories</p>
        </div> -->

        <div class="categories" *ngIf="topSearch">
            <p class="p2">Search from Categories</p>
            <div class="chips">
                <mat-chip-list aria-label="category selection" *ngFor="let category of categories">
                    <mat-chip (click)="byCategory(category)">
                        <img matChipAvatar src="{{category.categoryPhoto}}" alt="" />
                        {{category}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>


    </div>



</div>